<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../0.library/vue.min.js"></script>
    <title>todoList</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="handleBtnClick">提交</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    list:['第一首歌：一块红布', '第二首歌：蓝色骨头', '第三首歌：一无所有'],
                    inputValue: '' //使用双向绑定，当前inputValue和html页面中的v-model的inputValue数据始终会保持一致
                },
                methods: {
                    handleBtnClick: function() {
                        //在绑定的click事件中，将双向绑定的inputValue在点击时存入list中，并在添加完毕后清除输入框
                        this.list.push(this.inputValue);
                        this.inputValue = '';
                    }
                }
            });
        </script>
    </div>
</body>
</html>